@media screen and (max-width: 1400px) {
  #home {
    height: 83vh;
  }

  button {
    color: #000;
  }

  .about-containers {
    flex-wrap: wrap;
  }

  #contact,
  #donate {
    height: fit-content;
  }

  a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
  }

  a:hover {
    color: rgb(92, 92, 92);
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: rgb(182, 184, 183);
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }

  button {
    color: #000;
  }

  #dropdown-nav {
    display: flex;
  }

  #programs,
  .experience-details-container {
    margin-top: 2rem;
  }

  #home,
  .section-container {
  }

  .arrow {
    display: none;
  }

  section,
  .section-container {
    height: fit-content;
  }

  section {
    margin: 0 0%;
  }

  .section-pic-container {
    justify-content: center;
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }

  .about-containers {
    margin-top: 0;
  }

  a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
  }

  a:hover {
    color: rgb(92, 92, 92);
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: rgb(182, 184, 183);
  }
}

@media screen and (max-width: 1024px) {
  #desktop-nav {
    display: none;
  }

  button {
    color: #000;
  }

  #dropdown-nav {
    display: flex;
  }

  #programs,
  .experience-details-container {
    margin-top: 2rem;
  }

  #home,
  .section-container {
  }

  .arrow {
    display: none;
  }

  section,
  .section-container {
    height: fit-content;
  }

  section {
    margin: 0 0%;
  }

  .section-pic-container {
    justify-content: center;
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }

  .about-containers {
    margin-top: 0;
  }

  a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
  }

  a:hover {
    color: rgb(92, 92, 92);
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: rgb(182, 184, 183);
  }
}

@media screen and (max-width: 768px) {
  .about-pic {
    border-radius: 0.2rem;
    width: 18rem;
    height: auto;
  }

  #contact,
  footer {
    height: 40vh;
  }

  button {
    color: #000;
  }

  #home {
    height: 83vh;
    margin-bottom: 0;
    background-image: url(../asessts/bgwhite1.png);
  }

  article {
    font-size: 1rem;
  }

  footer nav {
    height: fit-content;
    margin: 2rem;
  }

  .about-containers,
  .contact-info-upper-container,
  .button-container {
    flex-wrap: wrap;
  }

  .contact-info-container {
    margin: 0;
  }

  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }

  .experience-sub-title {
    font-size: 1.25rem;
  }

  .logo {
    font-size: 1.5rem;
  }

  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  .section-pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }

  .title {
    font-size: 2rem;
  }

  .text-container {
    text-align: justify;
  }

  a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
  }

  a:hover {
    color: rgb(92, 92, 92);
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: rgb(182, 184, 183);
  }

  .textSection p {
    font-size: 1rem;
    margin: 6%;
  }

  .initiatives-textSection h1 {
    font-size: 2.5rem;
  }

  .initiatives-textSection p {
    font-size: 1.2rem;
    margin: 5%;
  }

  .about-textSection h1 {
    font-size: 2.5rem;
  }

  .about-textSection p {
    font-size: 1.2rem;
    margin: 5%;
  }

  .team-pic {
    height: auto;
    margin-top: 10%;
    width: 70%;
  }

  .team-grid {
    flex-direction: column;
    align-items: center;
  }

  .values-grid {
    flex-direction: column;
    align-items: center;
  }

  .goals-grid {
    flex-direction: column;
    align-items: center;
  }
  .goal-card {
    width: 65%;
  }

  .value-card {
    width: 65%;
  }

  .team-member {
    width: 65%;
    margin-bottom: 30px;
  }

  #testimonials-section h2 {
    font-size: 2.5rem;
  }

  #initiatives2 {
    padding: 10vh;
    background-image: url(../asessts/mobile-bgblack1.png);
  }

  .service-card {
    width: 65%;
  }

  .stats-container {
  }

  .stats2-icon {
    width: 80%;
    height: auto;
  }

  .stats-card {
    width: 65%;
  }

  #contact-section h2 {
    font-size: 2.5rem;
  }

  #contact-section p {
    font-size: 1.2rem;
  }

  .contact-item a {
    font-size: 1rem;
  }

  .social-icons {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    margin: 10px;
  }

  .social-icon img {
    width: 40px;
    height: auto;
    padding: 6px;
  }

  #initiatives {
    background-image: url(../asessts/mobile-bgblack2.png);
  }

  #about {
    background-image: url(../asessts/mobile-bgwhite2.png);
  }

  #goals-objectives {
    background-image: url(../asessts/mobile-bgwhite2.png);
  }
  #values-section {
    background-image: url(../asessts/mobile-bgblack2.png);
  }
  #team-section {
    background-image: url(../asessts/mobile-bgwhite2.png);
  }
  #testimonials-section {
    background-image: url(../asessts/mobile-bgblack1.png);
  }
  #services-section {
    background-image: url(../asessts/mobile-bgwhite2.png);
  }
  #stats-objectives {
    background-image: url(../asessts/mobile-bgwhite2.png);
  }
  #donate-section {
    background-image: url(../asessts/mobile-bgblack1.png);
  }
}

@media screen and (max-width: 320px) {
  .about-pic {
    border-radius: 0.2rem;
    width: 18rem;
    height: auto;
  }

  #contact,
  footer {
    height: 40vh;
  }

  button {
    color: #000;
  }

  #home {
    height: 83vh;
    margin-bottom: 0;
    background-image: url(../asessts/mobile-bgwhite1.png);
  }

  article {
    font-size: 1rem;
  }

  footer nav {
    height: fit-content;
    margin: 2rem;
  }

  .about-containers,
  .contact-info-upper-container,
  .button-container {
    flex-wrap: wrap;
  }

  .contact-info-container {
    margin: 0;
  }

  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }

  .experience-sub-title {
    font-size: 1.25rem;
  }

  .logo {
    font-size: 1.5rem;
  }

  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  .section-pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }

  .title {
    font-size: 2rem;
  }

  .text-container {
    text-align: justify;
  }

  a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
  }

  a:hover {
    color: rgb(92, 92, 92);
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: rgb(182, 184, 183);
  }

  .textSection p {
    font-size: 1rem;
    margin: 6%;
  }

  .initiatives-textSection h1 {
    font-size: 2.5rem;
  }

  .initiatives-textSection p {
    font-size: 1.2rem;
    margin: 5%;
  }

  .about-textSection h1 {
    font-size: 2.5rem;
  }

  .about-textSection p {
    font-size: 1.2rem;
    margin: 5%;
  }

  .team-pic {
    height: auto;
    margin-top: 10%;
    width: 70%;
  }

  .team-grid {
    flex-direction: column;
    align-items: center;
  }

  .values-grid {
    flex-direction: column;
    align-items: center;
  }

  .goals-grid {
    flex-direction: column;
    align-items: center;
  }
  .goal-card {
    width: 65%;
  }

  .value-card {
    width: 65%;
  }

  .team-member {
    width: 65%;
    margin-bottom: 30px;
  }

  #testimonials-section h2 {
    font-size: 2.5rem;
  }

  #initiatives2 {
    padding: 10vh;
    background-image: url(../asessts/mobile-bgblack1.png);
  }

  .service-card {
    width: 65%;
  }

  .stats-container {
  }

  .stats2-icon {
    width: 80%;
    height: auto;
  }

  .stats-card {
    width: 65%;
  }

  #contact-section h2 {
    font-size: 2.5rem;
  }

  #contact-section p {
    font-size: 1.2rem;
  }

  .contact-item a {
    font-size: 1rem;
  }

  .social-icons {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    margin: 10px;
  }

  .social-icon img {
    width: 40px;
    height: auto;
    padding: 6px;
  }

  #initiatives {
    background-image: url(../asessts/mobile-bgblack2.png);
  }

  #about {
    background-image: url(../asessts/mobile-bgwhite2.png);
  }

  #goals-objectives {
    background-image: url(../asessts/mobile-bgwhite2.png);
  }
  #values-section {
    background-image: url(../asessts/mobile-bgblack2.png);
  }
  #team-section {
    background-image: url(../asessts/mobile-bgwhite2.png);
  }
  #testimonials-section {
    background-image: url(../asessts/mobile-bgblack1.png);
  }
  #services-section {
    background-image: url(../asessts/mobile-bgwhite2.png);
  }
  #stats-objectives {
    background-image: url(../asessts/mobile-bgwhite2.png);
  }
  #donate-section {
    background-image: url(../asessts/mobile-bgblack1.png);
  }
}
